:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

app-header {
    flex-shrink: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

app-footer {
    flex-shrink: 0;
}
