:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

app-header {
    flex-shrink: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

app-footer {
    flex-shrink: 0;
}
